


</div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/static/script/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/static/script/popper.min.js"></script>
    <script type="text/javascript" src="/static/script/bootstrap.min.js"></script>

</body>
</html>